table#canvas {
  border-collapse: separate;
  border-spacing: 24px;
  width:600px;
  margin:24px auto;
  background-color:#c5c5c5;
}
table#canvas td {
  vertical-align:top;
  color: #000000;
}

table#caution {
  border-collapse: separate;
  border:1px solid #000000;
  margin:24px auto;
  background-color:#ffffff;
}
table#caution th, table#caution td {
  border:1px solid #000000;
  color: #000000;
}

table#tools, table#func {
  width:100%;
  border-collapse: separate;
  border-spacing: 6px;
  background-color:#ffffff;
}

table#tools {
  height:480px;
}

#tools button.off {
  width: 80px;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  border-style: none;

  background-color:#B0C4DE;

  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#tools button.on {
  margin:2px -2px -2px 2px;
  width: 80px;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  border-style: none;

  background-color:#B0C4DE;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#func button, #func label {
  display: block !important;
  text-align:center !important;
  width: 80px;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  border-style: none;

  background-color:#F08080;

  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#func label.enable {
  display: block !important;
  text-align:center !important;
  width: 80px;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  border-style: none;

  background-color:#F08080;

  box-shadow: 2px 2px 3px 1px #666;
  -moz-box-shadow: 2px 2px 3px 1px #666;
  -webkit-box-shadow: 2px 2px 3px 1px #666;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#func label.disable {
  display: block !important;
  text-align:center !important;
  margin:2px -2px -2px 2px;
  width: 80px;
  font-size: 1.4em;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #000000;
  border-style: none;

  background-color:#D3D3D3;

  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}