a.clickable_name {
	cursor: text !important;
	color: inherit;
	text-decoration: none;
}
a.clickable_name:hover {
	background-color: transparent !important;
}
a.clickable_name:focus {
	outline: none;
}