p.msg_class {
	font-family: "ＭＳ ゴシック",sans-serif;
	font-size: 15px;
	font-weight: bold;
	background-color: lavender;
        border:#ffffff solid 1px;
        width:100%;
        height:100px;
}	

.content_box{background-color: lavender;}

.sbt_1{
	width:80px;
	height:40px;
	background-color:#e83f22;
	border:none;
	color:#fff;
	font-size:13px;
	font-weight:700;
	text-align:center;
	
}
.sbt_1:hover{
	background-color:#761c0c !important;
	color:#fff;
}

.sbt_wide{
	width:40%;
	height:40px;
	background-color:#e83f22;
	border:none;
	color:#fff;
	font-size:13px;
	font-weight:700;
	text-align:center;
	margin-top:20px;
	
}
.sbt_wide:hover{
	background-color:#761c0c !important;
	color:#fff;
}

.menu_wide{
	width:25%;
	float: left;
}

.menu_form_class{
	float: left;
	margin-left: 5%;
}

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {display: inline-table;}
 
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */

