.button2s {
	display:inline;
	color: #FFF;
	font-size: 8px;
	font-weight: bold;
	background: #333366;
	width: 24%;
	height: 65px;
	margin-right:1%;
	-webkit-border-radius: 10px;
	-webkit-appearance: none;
	word-break: break-all;
}

.text_box_b {
	width: 80%;
}

.textarea1 {
	width:100%;
}

.disp_scroll {
	overflow-x:scroll;
}

.table2 {
	width:100%;
	overflow:scroll;
}
.table2 th {
	border: 2px solid #999;
	background: #336;
	white-space: nowrap;
}
.table2 td {
	white-space: nowrap;
}

.cmd_form {
	display:inline;
}

.smart_br {
	display:block;
	margin-bottom: 1%;
	content: "";
}

.tablet_br {
	display:none;
}

.c_infos {
	display:table;
	text-align:right;
}

.c_info {
	display:table-cell;
	padding-right:8px;
}

.u_info {
	display:table-cell;
	padding-left:6px;
	border-left:2px solid gray;
}


.c_info1p {
	display:block;
}

.c_info1c {
}

.c_info2p {
	display:block;
}

.c_info2c {
}

.menu_table {
	display:table;
	width:100%;
	table-layout:fixed;
}

.menu_parent_table {
	display:table-row;
}

.menu_child_table {
	display:table-cell;
}

div.menu_child_table .button2s {
	width:100%;
}
